<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.manage.dao.MenuInfoMapper">
	<resultMap id="MenuInfoDTO" type="cn.edu.njtech.manage.dto.MenuInfoDTO">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="parent_id" jdbcType="INTEGER" property="parentId"/>
		<result column="parent_id_e" jdbcType="INTEGER" property="parentIdE"/>
		<result column="menu_level" jdbcType="DECIMAL" property="menuLevel"/>
		<result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
		<result column="menu_type" jdbcType="CHAR" property="menuType"/>
		<result column="menu_leaf" jdbcType="BOOLEAN" property="menuLeaf"/>
		<result column="sort_order" jdbcType="DECIMAL" property="sortOrder"/>
		<result column="url" jdbcType="VARCHAR" property="url"/>
		<result column="icon" jdbcType="VARCHAR" property="menuIcon"/>
		<result column="operation" jdbcType="INTEGER" property="operation"/>
		<result column="operation_all" jdbcType="INTEGER" property="operationAll"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_user" jdbcType="VARCHAR" property="createUser"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
		<result column="del_flag" jdbcType="CHAR" property="delFlag"/>
		<result column="expanded" jdbcType="BOOLEAN" property="expanded"/>
		<result column="description" jdbcType="VARCHAR" property="description"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, parent_id, menu_level, menu_name, menu_type, sort_order, url, operation_all, create_time,
    create_user, update_time, update_user, del_flag, description
  </sql>

	<!--获取角色对应菜单列表-->
	<select id="queryMenuByRoleId" resultMap="MenuInfoDTO">
		SELECT
		mi.id,
		parent_id,
		menu_level,
		menu_name,
		menu_type,
		sort_order,
		url,
		icon,
		rm.operation,
		operation_all,
		description
		FROM
		t_menu_info mi
		RIGHT JOIN
		t_role_menu rm ON rm.menu_id = mi.id
		WHERE
		<if test="roleId != null">
			rm.role_id = #{roleId}
		</if>
		AND mi.menu_type = #{menuType,jdbcType=INTEGER}
		AND mi.del_flag = 0
		ORDER BY menu_level ,parent_id, sort_order
	</select>

	<!--获取菜单列表-->
	<select id="queryMenuList" resultMap="MenuInfoDTO">
		SELECT
		id,
		parent_id,
		menu_level,
		menu_name,
		menu_type,
		sort_order,
		url,
		icon,
		operation,
		operation_all,
		description
		FROM
		t_menu_info mi
		RIGHT JOIN
		t_role_menu rm ON rm.menu_id = mi.id
		WHERE
		<if test="roleIds != null">
			rm.role_id IN
			<foreach collection="roleIds" item="role" open="(" separator="," close=")">
				#{role}
			</foreach>
		</if>
		AND mi.menu_type = #{menuType,jdbcType=INTEGER}
		AND mi.del_flag = 0
		ORDER BY menu_level ,parent_id, sort_order
	</select>

	<!--获取所有菜单信息-->
	<select id="queryMenus" resultMap="MenuInfoDTO">
		SELECT
		id,
		CASE parent_id
		WHEN -1 THEN NULL
		ELSE parent_id
		END AS parent_id,
		parent_id as parent_id_e,
		menu_level -1 as menu_level,
		menu_name,
		menu_type,
		CASE WHEN url is NULL THEN false
		WHEN url ='' THEN false
		ELSE true END as menu_leaf,
		sort_order,
		url,
		icon,
		operation_all,
		<choose>
			<when test="expanded">
				true AS expanded,
			</when>
			<otherwise>
				false AS expanded,
			</otherwise>
		</choose>
		create_time,
		create_user,
		update_time,
		update_user,
		description
		FROM
		t_menu_info mi
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
			and mi.menu_type = #{type,jdbcType=INTEGER}
			AND mi.del_flag = 0
		</trim>
		<choose>
			<when test="orderStr != null">
				${orderStr}
			</when>
			<otherwise>
				ORDER BY mi.parent_id, mi.sort_order
			</otherwise>
		</choose>
	</select>

	<!--查询所有菜单数量-->
	<select id="queryMenuInfoCount" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM
		t_menu_info mi
		WHERE
		mi.menu_type = #{menuType,jdbcType=INTEGER}
		AND mi.del_flag = 0
	</select>

	<!--查询所有父节点-->
	<select id="queryParents" resultMap="MenuInfoDTO">
		SELECT
		id,
		menu_name
		FROM t_menu_info mi
		WHERE mi.parent_id = -1
		ORDER BY mi.id
	</select>

	<!--校验同一级父节点下菜单名不相同-->
	<select id="countMenu" resultType="java.lang.Integer">
		select
		count(*)
		from t_menu_info mi
		WHERE mi.parent_id = #{parentId}
		AND mi.menu_name = #{menuName}
		<if test="id != null">
			AND mi.id <![CDATA[<>]]> #{id}
		</if>
	</select>

	<!--根据父节点查询子节点最大order-->
	<select id="queryMaxMenuOrder" parameterType="java.lang.Integer"
			resultType="java.lang.Integer">
		SELECT
		MAX(sort_order)
		FROM t_menu_info
		WHERE parent_id = #{parentId,jdbcType=INTEGER}
	</select>

	<!--根据id删除菜单信息-->
	<delete id="deleteById" parameterType="java.lang.Integer">
    	delete from t_menu_info
    	where id = #{id,jdbcType=INTEGER}
  	</delete>
	<insert id="insert" parameterType="cn.edu.njtech.manage.domain.MenuInfo">
		insert into t_menu_info (id, parent_id, menu_level,
		menu_name, sort_order, url,
		operation_all, create_time, create_user,
		update_time, update_user, del_flag,
		description)
		values (#{parentId,jdbcType=INTEGER}, #{menuLevel,jdbcType=DECIMAL},
		#{menuName,jdbcType=VARCHAR}, #{sortOrder,jdbcType=DECIMAL}, #{url,jdbcType=VARCHAR},
		#{operationAll,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR},
		#{description,jdbcType=VARCHAR})
	</insert>

	<!--新增菜单记录-->
	<insert id="insertMenuInfo" parameterType="cn.edu.njtech.manage.domain.MenuInfo">
		insert into t_menu_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="menuLevel != null">
				menu_level,
			</if>
			<if test="menuName != null">
				menu_name,
			</if>
			<if test="menuType != null">
				menu_type,
			</if>
			<if test="sortOrder != null">
				sort_order,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="menuIcon != null">
				icon,
			</if>
			<if test="operationAll != null">
				operation_all,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="menuLevel != null">
				#{menuLevel,jdbcType=DECIMAL},
			</if>
			<if test="menuName != null">
				#{menuName,jdbcType=VARCHAR},
			</if>
			<if test="menuType != null">
				#{menuType,jdbcType=VARCHAR},
			</if>
			<if test="sortOrder != null">
				#{sortOrder,jdbcType=DECIMAL},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="menuIcon != null">
				#{menuIcon,jdbcType=VARCHAR},
			</if>
			<if test="operationAll != null">
				#{operationAll,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=CHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!--更新菜单信息-->
	<update id="updateMenuInfo" parameterType="cn.edu.njtech.manage.domain.MenuInfo">
		update t_menu_info
		<set>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="menuLevel != null">
				menu_level = #{menuLevel,jdbcType=DECIMAL},
			</if>
			<if test="menuName != null">
				menu_name = #{menuName,jdbcType=VARCHAR},
			</if>
			<if test="sortOrder != null">
				sort_order = #{sortOrder,jdbcType=DECIMAL},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="menuIcon != null">
				icon = #{menuIcon,jdbcType=VARCHAR},
			</if>
			<if test="operationAll != null">
				operation_all = #{operationAll,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=CHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.edu.njtech.manage.domain.MenuInfo">
    update t_menu_info
    set parent_id = #{parentId,jdbcType=INTEGER},
      menu_level = #{menuLevel,jdbcType=DECIMAL},
      menu_name = #{menuName,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=DECIMAL},
      url = #{url,jdbcType=VARCHAR},
      operation_all = #{operationAll,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>