<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.manage.dao.RoleInfoMapper">
	<resultMap id="roleInfoDTO" type="cn.edu.njtech.manage.dto.RoleInfoDTO">
		<id column="id" jdbcType="VARCHAR" property="id"/>
		<result column="role_name" jdbcType="VARCHAR" property="roleName"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_user" jdbcType="VARCHAR" property="createUser"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
		<result column="del_flag" jdbcType="CHAR" property="delFlag"/>
		<result column="description" jdbcType="VARCHAR" property="description"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, role_name, create_time, create_user, update_time, update_user, del_flag, description
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="roleInfoDTO">
		select
		<include refid="Base_Column_List"/>
		from t_role_info
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!--为下拉框查询角色列表-->
	<select id="queryRoleInfo4Select" resultType="cn.edu.njtech.manage.dto.RoleInfoDTO">
		SELECT
		id,
		role_name as roleName
		FROM t_role_info
		WHERE
		del_flag = 0
	</select>

	<!--获取角色列表-->
	<select id="queryRoleInfo" parameterType="map" resultMap="roleInfoDTO">
		SELECT
		<include refid="Base_Column_List"/>
		FROM t_role_info
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
		</trim>
		<choose>
			<when test="orderStr != null">
				${orderStr}
			</when>
			<otherwise>
				ORDER BY id
			</otherwise>
		</choose>
	</select>

	<!--获取用户信息总量-->
	<select id="queryRoleInfoCount" resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM t_role_info
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
		</trim>
	</select>

	<!--根据角色名称查询记录条数-->
	<select id="countRoleName" resultType="java.lang.Integer">
		SELECT
		COUNT(*)
		FROM t_role_info
		WHERE role_name = #{roleName}
		<if test="id != null">
			AND id <![CDATA[<>]]> #{id}
		</if>
	</select>

	<!--删除角色信息-->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from t_role_info
		where id = #{id,jdbcType=INTEGER}
  	</delete>

	<!--新增角色信息-->
	<insert id="insertRoleInfo" parameterType="cn.edu.njtech.manage.domain.RoleInfo">
		insert into t_role_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleName != null">
				role_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleName != null">
				#{roleName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=CHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!--更新角色信息-->
	<update id="updateRoleInfo" parameterType="cn.edu.njtech.manage.domain.RoleInfo">
		update t_role_info
		<set>
			<if test="roleName != null">
				role_name = #{roleName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=CHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>