<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.manage.dao.RoleMenuMapper">
	<resultMap id="roleMenuDTO" type="cn.edu.njtech.manage.dto.RoleMenuDTO">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="parent_id" jdbcType="INTEGER" property="parentId"/>
		<result column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="has_role" jdbcType="BOOLEAN" property="hasRole" />
		<result column="menu_id" jdbcType="INTEGER" property="menuId" />
		<result column="menu_level" jdbcType="DECIMAL" property="menuLevel"/>
		<result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
		<result column="menu_leaf" jdbcType="BOOLEAN" property="menuLeaf"/>
		<result column="icon" jdbcType="VARCHAR" property="menuIcon"/>
		<result column="sort_order" jdbcType="DECIMAL" property="sortOrder"/>
		<result column="url" jdbcType="VARCHAR" property="url"/>
		<result column="operation" jdbcType="INTEGER" property="operation" />
		<result column="operation_all" jdbcType="INTEGER" property="operationAll"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_user" jdbcType="VARCHAR" property="updateUser" />
		<result column="expanded" jdbcType="BOOLEAN" property="expanded"/>
	</resultMap>
	<insert id="insert" parameterType="cn.edu.njtech.manage.domain.RoleMenu">
	</insert>
	<insert id="insertSelective" parameterType="cn.edu.njtech.manage.domain.RoleMenu">
	</insert>

	<!--查询角色菜单数量-->
	<select id="queryRoleMenuCount" resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM t_role_menu
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
			<if test="roleId != null">
				and role_id = #{roleId}
			</if>
		</trim>
	</select>

	<!--查询角色菜单列表-->
	<select id="queryRoleMenu" resultMap="roleMenuDTO">
		SELECT
		tmi.id,
		CASE tmi.parent_id
		WHEN -1 THEN NULL
		ELSE tmi.parent_id
		END AS parent_id,
		trm.menu_id,
		tmi.menu_name,
		tmi.menu_level -1 as menu_level,
		tmi.icon,
		tmi.url,
		CASE WHEN tmi.url is NULL THEN false
		WHEN tmi.url ='' THEN false
		ELSE true END as menu_leaf,
		trm.operation,
		tmi.sort_order,
		tmi.operation_all,
		<choose>
			<when test="expanded">
				true AS expanded
			</when>
			<otherwise>
				false AS expanded
			</otherwise>
		</choose>
		FROM t_role_menu trm
		INNER JOIN t_role_info tri ON tri.id = trm.role_id
		INNER JOIN t_menu_info tmi ON tmi.id = trm.menu_id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
			<if test="roleId != null">
				and trm.role_id = #{roleId}
			</if>
			and tmi.menu_type = #{type,jdbcType=INTEGER}
			AND tmi.del_flag = 0
		</trim>
		<choose>
			<when test="orderStr != null">
				${orderStr}
			</when>
			<otherwise>
				ORDER BY tmi.parent_id, tmi.sort_order
			</otherwise>
		</choose>
	</select>

	<!--查询编辑页面所有权限数据-->
	<select id="queryEditRoleMenu" resultMap="roleMenuDTO">
		SELECT
		tmi.id,
		CASE tmi.parent_id
		WHEN -1 THEN NULL
		ELSE tmi.parent_id
		END AS parent_id,
		CASE WHEN trm.role_id IS null THEN false
		ELSE true
		END AS has_role,
		tmi.id as menu_id,
		tmi.menu_name,
		tmi.menu_level -1 as menu_level,
		tmi.icon,
		tmi.url,
		CASE WHEN tmi.url is NULL THEN false
		WHEN tmi.url ='' THEN false
		ELSE true END as menu_leaf,
		trm.operation,
		tmi.sort_order,
		tmi.operation_all,
		<choose>
			<when test="expanded">
				true AS expanded
			</when>
			<otherwise>
				false AS expanded
			</otherwise>
		</choose>
		FROM
		(SELECT
		*
		FROM
		t_role_menu
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="roleId != null">
				and role_id = #{roleId}
			</if>
		</trim>) AS trm
		LEFT JOIN t_role_info tri ON tri.id = trm.role_id
		RIGHT JOIN t_menu_info tmi ON tmi.id = trm.menu_id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
			and tmi.menu_type = #{type,jdbcType=INTEGER}
			AND tmi.del_flag = 0
		</trim>
		<choose>
			<when test="orderStr != null">
				${orderStr}
			</when>
			<otherwise>
				ORDER BY tmi.parent_id, tmi.sort_order
			</otherwise>
		</choose>
	</select>
</mapper>