<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.manage.dao.UserRoleMapper">
	<resultMap id="userRoleDTO" type="cn.edu.njtech.manage.dto.UserRoleDTO">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="user_id" jdbcType="INTEGER" property="userId"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="real_name" jdbcType="VARCHAR" property="realName"/>
		<result column="role_id" jdbcType="INTEGER" property="roleId"/>
		<result column="role_name" jdbcType="VARCHAR" property="roleName"/>
		<result column="description" jdbcType="VARCHAR" property="description"/>
		<result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_user" jdbcType="VARCHAR" property="createUser"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
	</resultMap>

	<insert id="insert" parameterType="cn.edu.njtech.manage.domain.UserRole">
    insert into t_user_role (user_id, role_id, create_time, 
      create_user, update_time, update_user
      )
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}
      )
  </insert>

	<!--更新用户角色信息-->
	<update id="updateUserRole" parameterType="cn.edu.njtech.manage.domain.UserRole">
		update t_user_role
		<set>
			<if test="userId != null">
				user_id = ${userId},
			</if>
			<if test="roleId != null">
				role_id = ${roleId},
			</if>
			<if test="createTime != null">
				create_time = ${createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = ${createUser},
			</if>
			<if test="updateTime != null">
				update_time = ${updateTime},
			</if>
			<if test="updateUser != null">
				update_user = ${updateUser},
			</if>
		</set>
		WHERE
		id = ${id}
	</update>

	<!--根据id删除用户角色-->
	<delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_user_role
    where id = #{id,jdbcType=INTEGER}
	</delete>

	<!--获取用户角色信息-->
	<select id="queryUserRole" parameterType="map" resultMap="userRoleDTO">
		SELECT
		ur.id,
		ur.user_id,
		user_name,
		real_name,
		ur.role_id,
		role_name,
		ri.description,
		ri.del_flag,
		ur.create_time,
		ur.create_user,
		ur.update_time,
		ur.update_user
		FROM t_user_role ur
		INNER JOIN t_user_info ui on ur.user_id = ui.id
		INNER JOIN t_role_info ri on ur.role_id = ri.id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
		</trim>
		<choose>
			<when test="orderStr != null">
				${orderStr}
			</when>
			<otherwise>
				ORDER BY ur.id
			</otherwise>
		</choose>
	</select>

	<!--查询用户权限总量数据-->
	<select id="queryUserRoleCount" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM t_user_role ur
		INNER JOIN t_user_info ui on ur.user_id = ui.id
		INNER JOIN t_role_info ri on ur.role_id = ri.id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
		</trim>
	</select>

	<!--根据用户id、角色id获取记录数-->
	<select id="countUserRole" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM t_user_role ur
		WHERE
		ur.user_id = ${userId}
		and
		ur.role_id = ${roleId}
	</select>

	<!--新增用户角色信息-->
	<insert id="insertUserRole" parameterType="cn.edu.njtech.manage.domain.UserRole">
		insert into t_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>