<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njtech.manage.dao.UserInfoMapper">
	<resultMap id="userInfoDTO" type="cn.edu.njtech.manage.dto.UserInfoDTO">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="password" jdbcType="VARCHAR" property="password"/>
		<result column="real_name" jdbcType="VARCHAR" property="realName"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="phone" jdbcType="BIGINT" property="phone"/>
		<result column="description" jdbcType="VARCHAR" property="description"/>
		<result column="del_flag" jdbcType="CHAR" property="delFlag"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_user" jdbcType="VARCHAR" property="createUser"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, password, real_name, user_name, phone, description, del_flag, create_time, create_user, 
    update_time, update_user
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="userInfoDTO">
		select
		<include refid="Base_Column_List"/>
		from t_user_info
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!--获取用户信息-->
	<select id="queryUserInfo" parameterType="map" resultMap="userInfoDTO">
		SELECT
		<include refid="Base_Column_List"/>
		FROM t_user_info
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
		</trim>
		<choose>
			<when test="orderStr != null">
				${orderStr}
			</when>
			<otherwise>
				ORDER BY id
			</otherwise>
		</choose>
	</select>

	<!--获取用户信息总量-->
	<select id="queryUserInfoCount" resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM t_user_info
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchStr != null">
				and ${searchStr}
			</if>
		</trim>
	</select>
	<!--查询用户名记录数-->
	<select id="countUserName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
		COUNT(*)
		FROM t_user_info
		WHERE user_name = #{userName}
	</select>
	<!--根据id删除用户信息-->
	<delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="cn.edu.njtech.manage.domain.UserInfo">
    insert into t_user_info (id, password, real_name,
      user_name, phone, description, 
      del_flag, create_time, create_user, 
      update_time, update_user)
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
	<!--新增用户信息-->
	<insert id="insertUserInfo" parameterType="cn.edu.njtech.manage.domain.UserInfo">
		insert into t_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="password != null">
				password,
			</if>
			<if test="realName != null">
				real_name,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!--更新用户信息-->
	<update id="updateUserInfo" parameterType="cn.edu.njtech.manage.domain.UserInfo">
		update t_user_info
		<set>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				real_name = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.edu.njtech.manage.domain.UserInfo">
    update t_user_info
    set password = #{password,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>